*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Roboto, Arial;

}

:root{
    --gray: rgb(168, 165, 165);
}



body{
    background-image: url(files/back-ground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login-div{
    text-align: center;
    backdrop-filter: blur(10px);
    width: 400px;;
    padding: 10px;
    margin: 100px auto;
}


.login-title p{
    font-size: 30px;
    color: white;
}


.inputs{
    background-color: transparent; /* Define o fundo como transparente */
    text-align: center;
    margin: 10px auto;
    width: 350px;
    height: 45px;
    border: 1px solid var(--gray);
    border-radius: 50px;
    display: inline-block;
}





.extra-login{
    align-items: center;
    margin: 10px auto;

}

.remember{
    font-size: 13px;
    margin-right: 100px;
    display: inline-block;
    color: white;
}

.remember input[type="checkbox"] {
    vertical-align:middle;
    margin-right: 5px;
}

.forgot-link, .forgot-link a{
    display: inline-block;
    font-size: 13px;

    color: white;
    text-decoration: none;
}



.login-button button{
    width: 350px;
    height: 35px;
    border: none;
    font-size: 11px;
    border-radius: 50px;
    cursor: pointer;
}


.create-register{
    margin: 15px auto;
    color: white;
}

.create-register a, p{
    font-size: 13px;
    color: white;
    text-decoration: none;
}

#user{
    color: white;
}

#pass{
    color: white;
}

